body {
	padding:0;
	margin:0;
	background:#EFEFEF;
	text-align:center;
	font-family: 'Didact Gothic', sans-serif;
}

#logo {
	width:400px;
}

#tagline {
	font-size:32px;
	margin:10px;
}

#try, #alreadyhave {
	background:#222;
	color:white;
	width:100%;
	float:left;
	margin-top:20px;
}

#try {
	margin-bottom:47px;
}

#alreadyhave {
	display:none;
}

#trialdone {
	display:none;
 	font-size: 24px;
  	padding: 0.8%;
  	float: left;
  	width: 98.4%;
  	background: black;
  	color: #ededed;
  	cursor:pointer;
}

#inst, #insta {
	font-size:24px;
	padding:0.8%;
	float:left;
	width:98.4%;
	background:black;
	color:#ededed;
}

#inst {
	cursor:pointer;
}

#places {
	width:100%;
	float:left;
	padding:10px 0px;
	display:none;
}

#placesalt {
	width:100%;
	float:left;
	padding:10px 0px;
}

.place {
	width:25%;
	text-align:center;
	float:left;
}

a {
	text-decoration:none;
	color:inherit;
}

#p1, #p1a {
	color:#FFFF00;
}

#p2, #p2a {
	color:#25BD25
}

#p3, #p3a {
	color:#00B2FF;
}

#p4, #p4a {
	color:#FF8800;
}

#p1a, #p2a, #p3a {
	cursor:pointer;
}

a:hover {
	color:silver;
}

.lighter {
	color:#ffffff;
}

#installpl {
	display:none;
	-webkit-animation-name: blinkCycle; 
	-webkit-animation-duration:6s; 
	-webkit-animation-direction:normal; 
	-webkit-animation-iteration-count:infinite;

	-moz-animation-name: blinkCycle; 
	-moz-animation-duration:6s; 
	-moz-animation-direction:normal; 
	-moz-animation-iteration-count:infinite;

	-o-animation-name: blinkCycle; 
	-o-animation-duration:6s; 
	-o-animation-direction:normal; 
	-o-animation-iteration-count:infinite;

	animation-name: blinkCycle; 
	animation-duration:6s; 
	animation-direction:normal; 
	animation-iteration-count:infinite; 

	
}

@-webkit-keyframes homeCycle 
{ 
	0% {color:#fff;}
	12% {color:#FFFF00;}
	25% {color:#fff;}
	37% {color:#25BD25;}
	50% {color:#fff;}
	63% {color:#00B2FF;}
	75% {color:#fff;}
	87% {color:#FF8800;}
	100% {color:#fff;} 
}

@-moz-keyframes homeCycle 
{ 
	0% {color:#fff;}
	12% {color:#FFFF00;}
	25% {color:#fff;}
	37% {color:#25BD25;}
	50% {color:#fff;}
	63% {color:#00B2FF;}
	75% {color:#fff;}
	87% {color:#FF8800;}
	100% {color:#fff;} 
}

@-o-keyframes homeCycle 
{ 
	0% {color:#fff;}
	12% {color:#FFFF00;}
	25% {color:#fff;}
	37% {color:#25BD25;}
	50% {color:#fff;}
	63% {color:#00B2FF;}
	75% {color:#fff;}
	87% {color:#FF8800;}
	100% {color:#fff;} 
}

@keyframes blinkCycle 
{
	0% {color:#fff;}
	12% {color:#FFFF00;}
	25% {color:#fff;}
	37% {color:#25BD25;}
	50% {color:#fff;}
	63% {color:#00B2FF;}
	75% {color:#fff;}
	87% {color:#FF8800;}
	100% {color:#fff;} 
} 

@-webkit-keyframes homeCycle 
{ 
	0% {color:#fff;}
	12% {color:#FFFF00;}
	25% {color:#fff;}
	37% {color:#25BD25;}
	50% {color:#fff;}
	63% {color:#00B2FF;}
	75% {color:#fff;}
	87% {color:#FF8800;}
	100% {color:#fff;} 
}

#install, #installpl {
	margin:10px auto;
	width:300px;
	background:black;
	color:white;
	border-radius:5px;
	padding:10px;
	font-size:32px;
	cursor:pointer;
	height:50px;
	line-height:50px;
}

#install:hover, #installpl:hover {
	background:#222;
}

#install img, #installpl img {
	width:38px;
	vertical-align: sub;
}

[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    font-size:14px;
    border-radius: 4px; 
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    /* customizable */
    background: black;
    color:white;
    margin-top: -50px;
    margin-left: -60px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

#slideImg0, #slideImg1, #slideImg2, #slideImg3 {
	max-width:640px;
	margin:20px 10px;
	border:1.5px solid black;
	display:none;
}

#slideImg0 {
	display:inline;
}

#slideNext {
	background:#DFDFDF;
	color:#111;
	border-radius:5px;
	font-size:19px;
	padding:10px;
	width:300px;
	margin:15px auto;
	cursor:pointer;
}

#slideNext:hover {
	background:#CFCFCF;
}

#ph {
	float:left;
	width:100%;
	display:none;
}

#banner {
	background:black;
	float:left;
	width:100%;
	height:100px;
	line-height:100px;
}

#l1, #l2 {
	float:left;
	width:9%;
}

#l1 img, #l2 img {
	width:80px;
	vertical-align: middle;
}

#header {
	width:80%;
	float:left;
	color:white;
	font-size:36px;
}

#l2 {
	text-align:right;
	margin-right:1%;
}

#l1 {
	text-align:left;
	margin-left:1%;
}

#message {
	width:100%;
	float:left;
	height:50px;
	line-height: 50px;
	background:#222;
	color:white;
	font-size:22px;
	display:none;
}

#header a {
	text-decoration: none;
	color:white;

	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#header a:hover {
	color:#5898f1;
}

.heartbeat {
	-webkit-animation: color_change 1s infinite alternate;
	-moz-animation: color_change 1s infinite alternate;
	-ms-animation: color_change 1s infinite alternate;
	-o-animation: color_change 1s infinite alternate;
	animation: color_change 1s infinite alternate;
}

@-webkit-keyframes color_change {
	0% { color:white; }
	50% { color:#da552f; }
	100% { color:white; }
}
@-moz-keyframes color_change {
	0% { color:white; }
	50% { color:#da552f; }
	100% { color:white; }
}
@-ms-keyframes color_change {
	0% { color:white; }
	50% { color:#da552f; }
	100% { color:white; }
}
@-o-keyframes color_change {
	0% { color:white; }
	50% { color:#da552f; }
	100% { color:white; }
}
@keyframes color_change {
	0% { color:white; }
	50% { color:#da552f; }
	100% { color:white; }
}

.hl {
	background:#AFD5FF;
}